
.navbar {
    background: linear-gradient(to right, #18191a, #b7d8c7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 1.5rem;
    transition: color 0.3s ease;
    font-weight: bold;
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-auth a {
    padding: 0.5rem 1.5rem;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-weight: bold;
}

.navbar-auth a:hover {
    background-color: #fff;
    color: #18191a;
    border-color: #18191a;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    background: linear-gradient(to right, #3388FF, #33FF99);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.button-container button:hover {
    background: linear-gradient(to right, #33FF99, #3388FF);
    transform: scale(1.1);
}
